<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>

  <form action="/madlib">
        <label>Enter a Name</label>
        <input type="text" name="person">

        <label>Enter a Noun</label>
        <input type="text" name="noun">
        
        <label>Enter a Color</label>
        <input type="color" name="color">
        
        
        <label>Enter an Adjective</label>
        <input type="text" name="adjective">
        <input type="submit">
  </form>
  
</body>
</html>